.main-menu__span {
  position: relative;

  &::after {
    content: "";
    width: 0;
    background-color: grey;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 50%;
    translate: -50% 0;
    transition: width 0.3s;
  }

  &:hover {
    &::after {
      width: 100%;
    }
  }
}

// [class*="__container"] {
//   max-width: 1200px;
//   margin: 0 auto;
//   padding: 0 15px;
// }