@theme {
  --color-bg-dark:#121212;
  --color-primary:#fff;
  --color-grey: grey;
  --color-lightgrey: lightgrey;
  --color-bg-dark-light: #524e4e;

  /* ======= card colors */
  --color-bg-card:#1A2236;
  --color-border-default:1px solid #334155;
  --color-box-shadow-card:0 10px 30px rgba(0,0,0,.35);
}

@utility flex-center {
  @apply flex items-center justify-center;
}

@utility absolute-center {
  @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}
