@import 'tailwindcss';

@theme {
  --color-bg-dark:#121212;
  --color-primary:#fff;
  --color-grey: grey;
  --color-lightgrey: lightgrey;
  --color-bg-dark-light: #524e4e;
}

@utility flex-center {
  @apply flex items-center justify-center;
}

@utility absolute-center {
  @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}

